Quiz5/21127621.json
[
    {
        "id": "f9f35a81a073e9ae",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "781682f3a543f55b",
        "type": "ui_text_input",
        "z": "f9f35a81a073e9ae",
        "name": "",
        "label": "Nhập MSSV",
        "tooltip": "",
        "group": "d61bba2e26c2e660",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "2000",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "37e45f0d936d558c"
            ]
        ]
    },
    {
        "id": "e39b1e3467c7b10d",
        "type": "mqtt out",
        "z": "f9f35a81a073e9ae",
        "name": "",
        "topic": "21127621/sinhvien",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f3ad3a6e3aeb3ac4",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "37e45f0d936d558c",
        "type": "function",
        "z": "f9f35a81a073e9ae",
        "name": "Push id into esp",
        "func": "var dashboardLog = flow.get('dashboardLog') || [];\n\ndashboardLog.push(msg);\nvar topic = msg.topic;\n\nif (topic === \"topic\")\n{\n    dashboardLog[0]= msg.payload;\n}\nelse {\n    dashboardLog[1] = msg.payload;\n}\nflow.set('dashboardLog', dashboardLog);\nmsg = {}\nmsg.payload = dashboardLog[1]\nif (msg.payload === \"Clicked\")\n{\n    msg.payload = dashboardLog[0];\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 520,
        "wires": [
            [
                "e39b1e3467c7b10d"
            ]
        ]
    },
    {
        "id": "c80c123a57a77cf6",
        "type": "ui_button",
        "z": "f9f35a81a073e9ae",
        "name": "",
        "group": "d61bba2e26c2e660",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Clicked",
        "payloadType": "str",
        "topic": "topic2",
        "topicType": "str",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "37e45f0d936d558c"
            ]
        ]
    },
    {
        "id": "4575b005682560f5",
        "type": "mqtt in",
        "z": "f9f35a81a073e9ae",
        "name": "",
        "topic": "21127621/sinhvien",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f3ad3a6e3aeb3ac4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 660,
        "wires": [
            [
                "dc6f56e18cf3b34a",
                "4ce4549285bfd7f2"
            ]
        ]
    },
    {
        "id": "aeded5aed25923cf",
        "type": "ui_text",
        "z": "f9f35a81a073e9ae",
        "group": "d61bba2e26c2e660",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Output text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 680,
        "wires": []
    },
    {
        "id": "dc6f56e18cf3b34a",
        "type": "debug",
        "z": "f9f35a81a073e9ae",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 800,
        "wires": []
    },
    {
        "id": "4ce4549285bfd7f2",
        "type": "function",
        "z": "f9f35a81a073e9ae",
        "name": "Controll Output",
        "func": "if (msg.payload === \"21127205\" || msg.payload === \"21127621\" || msg.payload === \"21127559\" ){\n    msg.payload = \"\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 620,
        "wires": [
            [
                "aeded5aed25923cf",
                "dc6f56e18cf3b34a"
            ]
        ]
    },
    {
        "id": "70a69388adf0c528",
        "type": "ui_text",
        "z": "f9f35a81a073e9ae",
        "group": "c18db1949e47a3d0",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "21127621",
        "format": "{{\"Âu Dương Khang\"}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 180,
        "y": 140,
        "wires": []
    },
    {
        "id": "93eb74054335c9e1",
        "type": "ui_text",
        "z": "f9f35a81a073e9ae",
        "group": "c18db1949e47a3d0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "21127205",
        "format": "{{\"Cao Hoài Yến Vy\"}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 180,
        "y": 200,
        "wires": []
    },
    {
        "id": "9f1f20903e7fc9e8",
        "type": "ui_text",
        "z": "f9f35a81a073e9ae",
        "group": "c18db1949e47a3d0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "21127559",
        "format": "{{\"Trần Đình Trung\"}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 180,
        "y": 260,
        "wires": []
    },
    {
        "id": "d61bba2e26c2e660",
        "type": "ui_group",
        "name": "Test Esp",
        "tab": "f9a024b44a39f781",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3ad3a6e3aeb3ac4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c18db1949e47a3d0",
        "type": "ui_group",
        "name": "Danh sách sinh viên",
        "tab": "f9a024b44a39f781",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f9a024b44a39f781",
        "type": "ui_tab",
        "name": "Test ESP",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]